<br style="line-height:10px;">
<div class="row-fluid"  id='sales_block1' style="margin-left:2px;">
   <%=render :partial => 'sales_block1' %>
</div>
<br style="line-height:2px;">
<div class="row-fluid"  id='sales_block2' >
    <%=render :partial => 'sales_block2' %>
</div>
<br style="line-height:10px;" >
<div class="row-fluid"  id='sales_block3'>
   
      <%=render :partial => 'sales_block3' %>

</div>

