<div id="index_head" class="row-fluid" style="padding:0px;margin:0px">
 <div class="offset1 span8">
   <h5>Stock Entries</h5>
 </div>
</div>

<div id="index_list" class="row-fluid">
   <div class="span12">
    <%=render :partial => 'list'%>
   </div>
  </div>
