<div class="row-fluid" id="contacts_tab">
      <br><br><br>
       <%=link_to "Quick Edit", quick_edit_contacts_url,  :id=>'list', :class=>'label-success label'%>&nbsp;&nbsp;
       <%=link_to "Contact List",contacts_url,  :id=>'list', :class=>'label-success label'%>
       &nbsp;&nbsp;
      <%=link_to "New Contact", new_contact_url, :id=>'add' , :class=>'label-success label'%>
      <hr style="margin:5px;">

</div>

