<div class="row-fluid" id="contacts_tab">
 <div class="span12" style="margin-left=0.5%;">
 <span style='font-size:15px;font-weight:bold'>Contacts</span><%=space(6)%>
       <%=link_to "Quick Edit", quick_edit_contacts_url,  :id=>'list', :class=>'label-success label'%>&nbsp;&nbsp;
       <%=link_to "Contact List",contacts_url,  :id=>'list', :class=>'label-success label'%>
       &nbsp;&nbsp;
      <%=link_to "New Contact", new_contact_url, :id=>'add' , :class=>'label-success label'%>
      <br>
    <hr style="margin:5px;">
 </div>
   
</div>

