<table class="table zebra-striped  table-condensed" style='font-size:12px;width:80%' align="center">
  <thead style="background-color:#FE2E9A;">
    <th class="col-sm-1">Trans#</th>
    <th>Date</th>
    <th>Contact</th>
    <th>Note</th>
    <th >Item</th>
    <th>Total</th>
    <th>Payment</th>
    <th class="col-sm-1" style="color:#330099">Action</th>
  </thead>
  <tbody>
   <%=render :template =>'transactions/_list_row' %>
  </tbody>

</table>
<hr>

