 <tr>
 <td colspan=3>
   <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
   </button>
    <b> Transaction Not Saved !! </b><br>
       Below error occored <br>
<% @trans.errors.messages.each{|e| %>
    . <%=e[1][0]%>
    <br>
<%}%>
<%if @trans.errors.empty? %>
   . <%=@serr%>

<%end%>	
</div>
 </td></tr>