
$('#gap_row').before("<%= j(render  :template => 'transactions/_item_row.erb', :locals => {:row_no => @row_no} ) %>");
$('#item_th').html("<td style='border-top: 0px solid #DDDDDD;'> <%=j (link_to '+ Item', add_item_row_transactions_path(:id => '0',:no => @row_no ), :remote => true)%></td>")