<br><br>
<div class="row-fluid">
  <%=link_to "Transaction List",transactions_url, :class=>'label-success label'%> <%=space(3)%>
   <span class='h4-class'>New Transaction</span>
  <hr style="margin:1px;">
  <br>
</div>

<%= render :partial => 'form'%>
