<div id="index_head" class="row-fluid" style="padding:0px;margin:0px">
 <div class="span8">
   <h5>Items List</h5>
 </div>
 <div class="span4">

  <div class="pagination pagination-small" style="margin:5px;">
   <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
   </ul>
  </div>

   </div>
</div>

<div id="index_list" class="row-fluid">
   <div class="span12">
    <%=render :partial => 'list'%>
   </div>
  </div>
