<html>
<head>

   <%=render :template => "layouts/header.erb" %>

</head>
<body>
<%if !@auser.blank? %>
<%=render :template => "layouts/nav.erb" %>
<%end%> 

  <div class="container-fluid">
  <div class="row-fluid" style="padding:1px">
    <div class="span12"style="text-align:left" id="users">
          <%=yield%>
    </div>


  </div>

</div>


</body>
</html>
