
<div class="row-fluid" id="items_tab">
      <br><br>

       <%=link_to "Items List",items_url,  :id=>'list', :class=>'label-success label'%>
       &nbsp;&nbsp;
      <%=link_to "New Item", new_item_url, :id=>'add' , :class=>'label-success label'%>
      <hr style="margin:5px;">

</div>