
<div class="row-fluid" id="items_tab">
      <br><br>
       <%=link_to "Payments List",payments_url,  :id=>'list', :class=>'label-success label'%>
       &nbsp;&nbsp;
      <%=link_to "New Payment", new_payment_url, :id=>'add' , :class=>'label-success label'%>
      <hr style="margin:5px;">
</div>
