<div id='payment_form' class="row-fluid" >
    <div class="span3">
      <%if @payment.recieved? %>
         Recieved From:
      <%else%>
         Paid To:
      <%end%>

    </div>
    <div class="span3">
        Contact: <%= @payment.contact.name_subname%>
        <br>
        <span id='contact_number' style='color:grey;font-size:14px;'><%=@payment.contact.contact_number%></span>
         <br>
    </div>
    <div class="span3" >
        Date : <%=@payment.on_date%>
     </div>
    <br>
 </div>