
$('#add_payment_link').before("<%= j(render  :template => 'payments/_payment_row.erb', :locals => {:row_no => @row_no, :payment_row => @payment_row} ) %>");
$('#ptype_link').html("<%=j (link_to '+ Payment Type', add_payment_row_payments_path(:id => '0',:row_no => @row_no ), :remote => true)%></td>")