
<div class="row-fluid" id="items_tab">
      <br><br>

       <%=link_to "Sites List",sites_url,  :id=>'list', :class=>'label-success label'%>
       &nbsp;&nbsp;
      <%=link_to "New Site", new_site_url, :id=>'add' , :class=>'label-success label'%>
      <hr style="margin:5px;">

</div>
