<div id="index_head" class="row-fluid" style="padding:0px;margin:0px">
 <div class="span8">
   <h5>Site List</h5>
 </div>
 

<div id="index_list" class="row-fluid">
   <div class="span12">
    <%=render :partial => 'list'%>
   </div>
  </div>
