<div class="row-fluid">
  <ul class="nav nav-pills offset1" style="margin:5px;">
   <li style="font-weight:bold;"><%=link_to "List",users_url%></li>
   <li style="font-weight:bold;">
 <%=link_to "Add", new_user_url%></li>
</ul>

</div>
<hr style="margin:5px;">
